.score-board-text {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  line-height: 2rem;
}

.board {
  background-color: #274472 !important;

  border: 3px solid;
  border-radius: 1rem;
  border-width: 5px;
  border-color: #101723;
  margin-bottom: 5px;
  padding: 1.25rem;
  justify-content: space-between;
  max-width: 43.75rem;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  color: #41729f;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 5em;
}

.logo.rps {
  display: inline;
  max-width: 100%;
}

.logo {
  max-width: 7em;
}
